.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin-right: 20px;
  border-radius: 5px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
}

.profile__description {
  margin: 0;
}

.profile__edit-btn {
  margin-top: auto;
  border: none;
  background: none;
  width: 110px;
}

.profile__edit-btn-icon {
  margin-right: 8px;
}

.profile__add-btn {
  margin-left: auto;
  margin-top: auto;
  height: 52px;
  width: 149px;
  border-radius: 10px;
  background-color: rgba(33, 33, 33, 1);
  color: #fff;
}
.profile__add-btn-icon {
  margin-right: 8px;
}
